---
layout: layout.liquid
title: 11ty Boilerplate
---

<div class="headers">
    <div class="stacked-headings">
        <h1>Everyday</h1> 
        <h1><strong><em>Carry</em></strong></h1>
    </div>
</div>

<div class="about-text">
    <p>Things that I carry with me all the time!</p>
</div>