---
title: Everyday Carry
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <div class="page-container">
    <nav>
      <ul>
        <li><a href="/" title="Go Home">Home</a></li>
        <li><a href="/phone/" title="My Phone">Phone</a></li>
        <li><a href="/headphones/" title="My Headphones">Headphones</a></li>
        <li><a href="/wallet/" title="My Wallet">Wallet</a></li>
      </ul>
    </nav>
    <main class="content">
      {{ content }}
    </main>
    <footer>
      <p></p>
    </footer>
  </div>
</body>
</html>